<% if @menu_item.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @menu_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @menu_item do |f| %>
    <div class="field <%= " field_with_errors" if @menu_item.errors[:name].any? %>">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
    </div>
    <div class="field <%= " field_with_errors" if @menu_item.errors[:price].any? %>">
        <%= f.label :price, "Price" %>
        <%= f.text_field :price %>
    </div>
    <div class="field <%= " field_with_errors" if @menu_item.errors[:description].any? %>">
        <%= f.label :description, "Description" %>
        <%= f.text_field :description %>
    </div>
    <div class="field <%= " field_with_errors" if @menu.errors[:menu_id].any? %>">
        <% if !params.has_key?(:menu_id) %>
            <div class="field <%= " field_with_errors" if @menu_item.errors[:menu_id].any? %>">
            <%= f.label :menu_id, "Menu" %>
            <%= f.collection_select :menu_id, current_user.menus, :id, :name, prompt: true %>
            </div>
        <% else %>
            <input type="hidden" name="menu_id" value="<%= params[:menu_id] %>">
        <% end %>
    </div>
    <%= f.submit "Submit" %>
<% end %>