<% if @menu_item.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @menu_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="form">
    <%= form_for @menu_item do |f| %>
        <div class="field <%= " field_with_errors" if @menu_item.errors[:name].any? %>">
            <%= f.label :name, "Name" %>
            <br>
            <%= f.text_field :name %>
        </div>
        <div class="field <%= " field_with_errors" if @menu_item.errors[:price].any? %>">
            <%= f.label :price, "Price" %>
            <br>
            <%= f.text_field :price %>
        </div>
        <div class="field <%= " field_with_errors" if @menu_item.errors[:description].any? %>">
            <%= f.label :description, "Description" %>
            <br>
            <%= f.text_field :description %>
        </div>
        <div class="field <%= " field_with_errors" if @menu_item.errors[:tags].any? %>">
            <%= f.label :description, "Tags" %>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
                <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                </div>
            <% end %>
        </div>
        <% if !params.has_key?(:menu_id) %>
            <div class="field <%= " field_with_errors" if @menu_item.errors[:menu_id].any? %>">
                <%= f.label :menu_id, "Menu" %>
                <br>
                <%= f.collection_select :menu_id, current_user.menus, :id, :name, prompt: true %>
            </div>
        <% else %>
            <input type="hidden" name="menu_id" value="<%= params[:menu_id] %>">
        <% end %>
        <%= f.submit "Submit" %>
    <% end %>
</div>