<h1>Menu Items</h1>
<% if params.has_key?(:user_id) && params[:user_id] == current_user.id.to_s %>
    <br>
    <div class="wrapper">
        <a href="<%= new_menu_item_path %>"><button>New Menu Item</button></a>
    </div>
<% else %>
<br>
    <div class="wrapper">
        <a href="<%= "/menu_items/dollar_menu" %>"><button class="tag">Dollar Menu</button></a>
        <a href="<%= "/menu_items/under_five" %>"><button class="tag">Under $5</button></a>
        <a href="<%= "/menu_items/under_ten" %>"><button class="tag">Under $10</button></a>
        <a href="<%= "/menu_items/under_twenty" %>"><button class="tag">Under $20</button></a>
    </div>
<% end %>
<br>
<div class="card">
    <div class="container">
        <% if @menu_items.any? %>
            <% @menu_items.each do |menu_item| %>
                <h1><%= link_to menu_item.name, menu_item %></h1>
                <h2><%= truncate(menu_item.description, length: 30) %></h2>
                <br>
            <% end %>
        <% else %>
            <h2>There are currently no menu items.</h2>
        <% end %>
    </div>
</div>