<h1>Edit</h1>
<%= form_for current_user do |f| %>
    <%= f.label :name, "Name" %>
    <br>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :email, "Email" %>
    <br>
    <%= f.text_field :email %>
    <br><br>
    <%= f.label :password, "Password" %>
    <br>
    <%= f.password_field :password %>
    <br><br>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <br>
    <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit "Edit" %>
<% end %>