<h1>Restaurants</h1>
<% if params.has_key?(:user_id) && params[:user_id] == current_user.id.to_s %>
    <br>
    <div class="wrapper">
        <a href="<%= new_restaurant_path %>"><button>New Restaurant</button></a>
    </div>
<% end %>

<% @restaurants.each do |restaurant| %>
    <h2><%= restaurant.name %></h2>
    <h3><%= truncate(restaurant.description, length: 20) %></h3>
    <h3><%= restaurant.name %></h3>
    <h3><%= restaurant.name %></h3>
<% end %>