<!DOCTYPE html>
<html>
  <head>
    <title>Menu Info</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header>
          <a href="/"><img class="logo" src="<%= image_path('logo.png') %>" alt="logo"></a>
          <nav>
            <ul class="nav__links">
              <% if logged_in? %>
                <li><%= link_to "My RESTAURANTS", user_restaurants_path(current_user) %></li>
                <li>|</li>
                <li><%= link_to "My MENUS", user_menus_path(current_user) %></li>
                <li>|</li>
                <li><%= link_to "My ACCOUNT", user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "RESTAURANTS", restaurants_path %></li>
                <li>|</li>
                <li><%= link_to "MENUS", menus_path %></li>
                <li>|</li>
                <li><%= link_to "MENU ITEMS", menu_items_path %></li>
              <% end %>
            </ul>
          </nav>
          <% if logged_in? %>
            <%= form_tag "/logout" do %>
              <%= submit_tag "Logout" %>
            <% end %>
          <% else %>
            <a class="button_small" href="/login"><button>Login</button></a>
          <% end %>
        </header>

        <br>
        <br>
        <%= yield %>
      </div>

      <footer>
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li>|</li>
          <li>Copyright 2020</li>
          <li>|</li>
          <li>Made with ❤ by Stephen McBride</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
